services:
  mongo:
    image: mongo:6
    container_name: mongo-adoptions
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: adoptions-app
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MONGO_URI=mongodb://mongo:27017/adoptions
    depends_on:
      - mongo

volumes:
  mongo_data:
